/*page + main*/

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-lg);
}
